{% extends "base.html" %}

{% block title %}
    Settings
{% endblock title %}

{% block content %}
{% if user.is_authenticated and user == profile.user %}
    <h1>Settings</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Update</button>
        <a href="{% url 'password_change' %}" class="btn btn-secondary">Change Password</a>
    </form>
{% else %}
    <h1>You are not authorized to edit this profile.</h1>
    <button class="btn btn-secondary"><a href="{% url 'home' %}">Back</a></button>
{% endif %}
{% endblock content %}
