{% extends 'base.html' %}

{% block title %}
    Gerina Blog
{% endblock title %}

{% block content %}
    <br>
    <ul>
        
        {% for post in posts_list %}
            <li>
                <a href="{% url 'article_details' post.pk %}">{{ post.title }}</a>
                <span class="mx-2">|</span>
                <a href="{% url 'profile_page' post.author.id %}">{{ post.author.first_name }} {{ post.author.last_name }}</a>

                {% if user.is_authenticated %}      
                <small>
                    - <a href="{% url 'category' post.category %}">{{post.category|title}}</a>
                    {% if user.id == post.author.pk %}   
                        -   <a href="{% url 'edit_post' post.pk %}">(edit)</a> |
                        <a href="{% url 'delete_post' post.pk %}">(delete)</a>
                    {% endif %}
                </small>
                {% endif %}
                <br>
                {{ post.description }}
                <br>
                <small>{{ post.post_date }}</small>
            </li>
            <br>
        {% endfor %} 
    </ul>
{% endblock content %}